name: Pull request to main

on:
  pull_request_review:
    types: [submitted]

permissions:
    pages: write
    id-token: write
    contents: read

jobs:
  deploy:
    if: >
      github.event.review.state == 'approved' &&
      github.event.pull_request.base.ref == 'develop'
    uses: ./.github/workflows/deploy.yml
